https://realpython.com/pandas-merge-join-and-concat/

In [3]:
# what do we do if library doesn't exist??
!pip install faker

Collecting faker
  Downloading Faker-8.13.2-py3-none-any.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 7.2 MB/s
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.7/dist-packages (from faker) (1.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-8.13.2

In [4]:
from faker import Faker
import pandas as pd
import random

In [8]:
f = Faker()

df1 = pd.DataFrame({
    'id': ['st_' + str(i) for i in range(0, 20)],
    'name': [f.name() for _ in range(0,20)],
    'email' : [f.email() for _ in range(0,20)]
})

In [9]:
df1

       id              name                               email
0    st_0    Spencer Harris       alexanderwarner@zimmerman.org
1    st_1     Justin Ortega                    wadams@gmail.com
2    st_2    Cristina Smith         vasquezkristen@campbell.com
3    st_3     Richard Hogan              amanda16@anderson.info
4    st_4     Rachel Nelson     amberrowland@graham-murillo.com
5    st_5   Stephanie Price                   brooke71@cruz.org
6    st_6   Lindsey Mccarty                 dwilliams@berry.biz
7    st_7   Kimberly Hodges       kmorrison@martinez-valdez.net
8    st_8      Steven Scott            heatherspencer@yahoo.com
9    st_9     David Pittman  cochrancindy@herrera-nicholson.com
10  st_10        Brian Rich         rodriguezcynthia@rivers.com
11  st_11  Mackenzie Henson                  leeallen@gmail.com
12  st_12    Kathleen Brown              michelle40@keller.info
13  st_13      Amanda Mills      rodney56@mcdaniel-anderson.com
14  st_14    Jeffrey Montes                  gnunez@hotmail.com
15  st_15     Tammy Shaffer             grahammichael@yahoo.com
16  st_16       Erika Meyer         joe76@campbell-copeland.com
17  st_17      Douglas Pugh       yoderdaniel@roman-edwards.com
18  st_18      Robert Jones               clarkthomas@yahoo.com
19  st_19   Michael Morales      richard43@schmidt-thompson.com

In [10]:
count = 25

df2 = pd.DataFrame({
    'studentId': ['st_' + str(i) for i in range(5, count)],
    'grade1': [random.randint(50, 100) for _ in range(5,count)],
    'grade2': [random.randint(50, 100) for _ in range(5,count)],
    'grade3': [random.randint(50, 100) for _ in range(5,count)],
})

In [11]:
df2

   studentId  grade1  grade2  grade3
0       st_5      68      68      80
1       st_6      64      73      59
2       st_7      64      76      76
3       st_8      82      78      90
4       st_9      62      62      51
5      st_10      58      89      64
6      st_11      71      82      66
7      st_12      84      56      79
8      st_13      66      51      74
9      st_14      75      75     100
10     st_15      55      97      74
11     st_16      53      94      80
12     st_17      50      72      53
13     st_18      96      77      52
14     st_19      52      69      51
15     st_20      87      76      63
16     st_21      94      82      51
17     st_22      56      57      78
18     st_23      56      55      92
19     st_24      51      65      62

## Merge `df1` and `df2`: if students exist in both data frames

In [12]:
df_merged = pd.merge(df1, df2, how='inner', left_on='id',right_on='studentId')
df_merged

       id              name  ... grade2 grade3
0    st_5   Stephanie Price  ...     68     80
1    st_6   Lindsey Mccarty  ...     73     59
2    st_7   Kimberly Hodges  ...     76     76
3    st_8      Steven Scott  ...     78     90
4    st_9     David Pittman  ...     62     51
5   st_10        Brian Rich  ...     89     64
6   st_11  Mackenzie Henson  ...     82     66
7   st_12    Kathleen Brown  ...     56     79
8   st_13      Amanda Mills  ...     51     74
9   st_14    Jeffrey Montes  ...     75    100
10  st_15     Tammy Shaffer  ...     97     74
11  st_16       Erika Meyer  ...     94     80
12  st_17      Douglas Pugh  ...     72     53
13  st_18      Robert Jones  ...     77     52
14  st_19   Michael Morales  ...     69     51

[15 rows x 7 columns]

## Merge `df1` and `df2`: get all students from `df1` and get from `df2` if student exists on `df2`

In [13]:
df_merged = df_merged = pd.merge(df1, df2, how='left', left_on='id',right_on='studentId')
df_merged

       id              name  ... grade2 grade3
0    st_0    Spencer Harris  ...    NaN    NaN
1    st_1     Justin Ortega  ...    NaN    NaN
2    st_2    Cristina Smith  ...    NaN    NaN
3    st_3     Richard Hogan  ...    NaN    NaN
4    st_4     Rachel Nelson  ...    NaN    NaN
5    st_5   Stephanie Price  ...   68.0   80.0
6    st_6   Lindsey Mccarty  ...   73.0   59.0
7    st_7   Kimberly Hodges  ...   76.0   76.0
8    st_8      Steven Scott  ...   78.0   90.0
9    st_9     David Pittman  ...   62.0   51.0
10  st_10        Brian Rich  ...   89.0   64.0
11  st_11  Mackenzie Henson  ...   82.0   66.0
12  st_12    Kathleen Brown  ...   56.0   79.0
13  st_13      Amanda Mills  ...   51.0   74.0
14  st_14    Jeffrey Montes  ...   75.0  100.0
15  st_15     Tammy Shaffer  ...   97.0   74.0
16  st_16       Erika Meyer  ...   94.0   80.0
17  st_17      Douglas Pugh  ...   72.0   53.0
18  st_18      Robert Jones  ...   77.0   52.0
19  st_19   Michael Morales  ...   69.0   51.0

[20 rows x 7 columns]

## Merge `df1` and `df2`: get all students from `df2` and get from `df1` if student exists on `df1`

In [14]:
df_merged = df_merged = df_merged = pd.merge(df1, df2, how='right', left_on='id',right_on='studentId')

df_merged

       id              name  ... grade2 grade3
0    st_5   Stephanie Price  ...     68     80
1    st_6   Lindsey Mccarty  ...     73     59
2    st_7   Kimberly Hodges  ...     76     76
3    st_8      Steven Scott  ...     78     90
4    st_9     David Pittman  ...     62     51
5   st_10        Brian Rich  ...     89     64
6   st_11  Mackenzie Henson  ...     82     66
7   st_12    Kathleen Brown  ...     56     79
8   st_13      Amanda Mills  ...     51     74
9   st_14    Jeffrey Montes  ...     75    100
10  st_15     Tammy Shaffer  ...     97     74
11  st_16       Erika Meyer  ...     94     80
12  st_17      Douglas Pugh  ...     72     53
13  st_18      Robert Jones  ...     77     52
14  st_19   Michael Morales  ...     69     51
15    NaN               NaN  ...     76     63
16    NaN               NaN  ...     82     51
17    NaN               NaN  ...     57     78
18    NaN               NaN  ...     55     92
19    NaN               NaN  ...     65     62

[20 rows x 7 columns]

## Merge `df1` and `df2`: get both records

In [15]:
df_merged = df_merged = df_merged = pd.merge(df1, df2, how='outer', left_on='id',right_on='studentId')

df_merged

       id              name  ... grade2 grade3
0    st_0    Spencer Harris  ...    NaN    NaN
1    st_1     Justin Ortega  ...    NaN    NaN
2    st_2    Cristina Smith  ...    NaN    NaN
3    st_3     Richard Hogan  ...    NaN    NaN
4    st_4     Rachel Nelson  ...    NaN    NaN
5    st_5   Stephanie Price  ...   68.0   80.0
6    st_6   Lindsey Mccarty  ...   73.0   59.0
7    st_7   Kimberly Hodges  ...   76.0   76.0
8    st_8      Steven Scott  ...   78.0   90.0
9    st_9     David Pittman  ...   62.0   51.0
10  st_10        Brian Rich  ...   89.0   64.0
11  st_11  Mackenzie Henson  ...   82.0   66.0
12  st_12    Kathleen Brown  ...   56.0   79.0
13  st_13      Amanda Mills  ...   51.0   74.0
14  st_14    Jeffrey Montes  ...   75.0  100.0
15  st_15     Tammy Shaffer  ...   97.0   74.0
16  st_16       Erika Meyer  ...   94.0   80.0
17  st_17      Douglas Pugh  ...   72.0   53.0
18  st_18      Robert Jones  ...   77.0   52.0
19  st_19   Michael Morales  ...   69.0   51.0
20    NaN               NaN  ...   76.0   63.0
21    NaN               NaN  ...   82.0   51.0
22    NaN               NaN  ...   57.0   78.0
23    NaN               NaN  ...   55.0   92.0
24    NaN               NaN  ...   65.0   62.0

[25 rows x 7 columns]